<header class="header">
    <div class="header__container">
        <a href="../pages/index.html" class="header__logo">BookFlow</a>
        <nav class="header__nav">
            <a href="index.html">Inicio</a>
            <a href="catalog.html">Catalogo</a>
            <a href="detalles.html">Detalles</a>
            <a href="biblioteca.html">Mi Biblioteca</a>
        </nav>
        <div class="header__actions">
            <button class="header__icon-btn" aria-label="Buscar">Buscar</button>
        </div>
    </div>
</header>